.m-header {
    display: flex;
    align-items: center;
    background-color: $color-background;
    box-sizing: border-box;
    padding: $unit-smaller;
    color: $color-foreground;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-primary;
  
    .m-header__logo {
      padding: $unit-smaller;
      font-weight: bold;
      color: $color-primary;
      font-size: $font-headline;
    }
  
    .m-header__navigation {
      padding: $unit-smaller;
      display: none;
  
      ul {
        li {
          display: inline-block;
          margin-right: $unit-smaller;
  
          a {
            transition: all 0.2s;
            color: $color-secondary;
            text-decoration: none;
  
            &:hover {
              color: $color-primary;
              text-decoration: underline;
            }
          }
  
          &.active {
            a {
              color: $color-primary;
              text-decoration: underline;
            }
          }
        }
      }
  
      &.visible {
        display: block;
      }
    }
  }